<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>ServeltTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <!-- 
  	자바 프로그램(서블릿)을 호출하기 위한 가상 주소를 생성
  	
  	서블릿 주소 매핑(mapping)
  	
  	*** web.xml을 수정 > 반드시 톰캣을 재시작 > 반영 
  -->
  
  <servlet>
  	<servlet-name>ex01</servlet-name>
  	<servlet-class>com.test.java.Ex01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ex01</servlet-name>
  	<url-pattern>/ex01.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ex02</servlet-name>
  	<servlet-class>com.test.java.Ex02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ex02</servlet-name>
  	<url-pattern>/ex02.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ex03</servlet-name>
  	<servlet-class>com.test.java.Ex03</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ex03</servlet-name>
  	<url-pattern>/ex03.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ex03Ok</servlet-name>
  	<servlet-class>com.test.java.Ex03Ok</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ex03Ok</servlet-name>
  	<url-pattern>/ex03Ok.do</url-pattern>
  </servlet-mapping>
  
</web-app>